<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
<head>
	<title th:text="#{accueil.titre}"></title>
</head>
<body>

<div layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<p th:text="#{accueil.contenu}">Bienvenue dans ce logiciel de gestions des opération
				bancaire. Cet outil va vous permettre de faire vos comptes ainsi
				que vos prévisionnels.</p>
		</div>
	</div>
</div>

</body>
</html>